body
{
  color: #84ffd2;
  background: #8400ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading
{
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
  background-color:#ff84b7 ;
}
